<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAXIESS</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/queries.css">
</head>
<body>
  
<header>

    <nav>
        <div class="navbar">
            <img class="navbarLogo" src="/img/logoWhite.png">
        </div>
        <div class="navbar">
            <div class="homeDiv">
                <i class="material-icons">home</i>
                <a class="navbarHome" href="/">Domov</a>
            </div>
            <div class="carDiv">
                <i class="material-icons">directions_car</i>
                <a class="navbarTaksiji js-scroll">Vozila</a>
            </div>
        </div>
    </nav>

</header>