<% include ../partials/header %>

<div class="height">
        <div class="naslovnicaPregled">
            <h3>NAKUP NOVEGA TAKSIJA</h3>
        </div>

    <form action="/" method="POST">
        <input type="text" name="slika" placeholder="slika (url)" required>
        <input type="number" name="letnik" placeholder="letnik" required>
        <input type="number" name="maxPotnikov" placeholder="število potnikov" required>
        <input type="number" name="maxHitrost" placeholder="maksimalna hitrost" required>
        <button class="gumb gumbNajem">Nakup</button>
        <a class="gumb gumbNazajNajem" href="/">Nazaj</a>
    </form>
</div>

<% include ../partials/footer %>